<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="..\Hello-Books\UI\CSS\bootstrap.min.css">
        <link rel="stylesheet" href="..\Hello-Books\UI\CSS\main.css">
        <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
        <link rel="stylesheet" href="..\Hello-Books\UI\CSS\styles.css">
        <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
      </head>


<body>
        <nav class="navbar navbar-expand-sm navbar-dark">
                <a class="navbar-brand" href="index.html">Hello Books</a>
                <div class="container-fluid">
                    <ul class="nav navbar-dark">
                    <li class="navbar - active"><a href="books.html">Borrow Books</a></li>
                    <li class="navbar - active"><a href="#">Return Books</a></li>
                    <li class="navbar - active"  ><a href="#">My History</a></li>
                   <div class="navbar-form">
                      <button type="submit" class="btn btn-success logout-btn"><a class="btn-link" href="index.html">Log out</a></button>
                   </div>
                  </ul>
                </div>
              </nav><br>
              <h2 class="text">Books you've borrowed</h2>

              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Book ID Number</th>
                      <th scope="col">Book Title</th>
                      <th scope="col">Book Category</th>
                      <th scope="col">Date you borrowed</th>
                      <th scope="col">Expected date to return</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <th>Fantastic Four</th>
                      <td>Comic</td>
                      <td>April 25th 2018</td>
                      <td>May 25th 2018</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                        <th>Operating Systems</th>
                      <td>Educational</td>
                      <td>June 25th 2018</td>
                      <td>July 1st 2018</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                        <th>Data communication</th>
                      <td>Educational</td>
                      <td>June 25th 2018</td>
                      <td>July 1st 2018</td>
                    </tr>
                  </tbody>
                </table>
        
    
</body>
<footer class='footer'>
    Copyright (c) 2018. All Rights Reserved.
    <p> Developed by <a href="https://github.com/godfreyJo">https://github.com/godfreyJo</a></p>
  </footer>
</html>